.addItem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 1rem;
}

.inputBox{
border-radius: 0;
width: 50%;
}

.addButton{
    background-color: darkgray;
    color: white;
    border-radius: 0;
    width: 50%;
}