.addItem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.inputBox{
border-radius: 0;
width: 50%;
}

.addButton{
    background-color: darkgray;
    color: white;
    border-radius: 0;
    width:100%;
}

.buttonWrapper{
    display: flex;
    justify-content: space-ar;
    gap: 1rem;
    width: 50%;
}