#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.card{
    background-color: dimgray;
    border-radius: 1rem;
    padding: 2rem ;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noTasksYet{
    font-size: 20px;
}