.buttonWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    width: 50%;
}
.accordionSection {
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .accordionHeader{
    width: 100%;
    font-weight: bold;
    text-align: left;
    background-color: #2e2e2e;
    border: none;
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .accordionToggle {
    width: 90%;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    background-color: #2e2e2e;
    border: none;
    cursor: pointer;
  }
  
  .accordionToggle:hover {
    background-color: #444;
  }
  
  .accordionContent {
    padding: 1rem;
    background-color: #3d3d3d;
  }


  .listCompleted {
    color: darkgrey;
    text-decoration: line-through;
  }
  
  .listButton{
    height: fit-content;
  }