.accordionSection {
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .accordionHeader{
    width: 100%;
    font-weight: bold;
    text-align: left;
    background-color: #2e2e2e;
    border: none;
    cursor: default;
  }
  
  .accordionToggle {
    width: 50%;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    background-color: #2e2e2e;
    border: none;
    cursor: pointer;
  }
  
  .accordionToggle:hover {
    background-color: #444;
  }
  
  .accordionContent {
    padding: 1rem;
    background-color: #3d3d3d;
  }


  .listCompleted {
    color: darkgrey;
    text-decoration: line-through;
  }
  
  