.toDoListItem {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.taskText {
  flex-grow: 1;
}

.toDoListItemCompleted {
  text-decoration: line-through;
  color: grey;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}
