.toDoListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    color: white;
    gap: 20px; 
  }
  
  .toDoListItemCompleted {
    color: darkgrey;
    text-decoration: line-through;
  }
  
  .taskText {
    flex: 1;
    max-width: 300px;
    word-break: break-word;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
  }
  